<ion-header no-border>
  <div class="cabeceraGeneral">
    <div style="display: inline; width: 5%;"></div>
    <div style="display: inline; width: 10%;border-color: white; border: solid 1px;margin: 5px;">Es</div>
    <div style="display: inline; width: 60%;">
      <ion-img src="./../../../assets/images/titulo.png" style="height: 100%;height: 5vh;"></ion-img>
    </div>
    <div style="display: inline; width: 10%;">
      <ion-icon name="md-cart" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>
    <div style="display: inline; width: 10%">
      <ion-icon name="md-menu" style="font-size: 25px;padding-top: 5px;"></ion-icon>
    </div>
    <div style="display: inline; width: 5%;"></div>
  </div>
  <div class="cabeceraTitulo">
    Vehículos
  </div>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%;" fixed>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col size="12">
        <ion-row style="font-size: 7vw;text-align: center;" *ngIf="!data">
          <ion-col size="12">Obteniendo Resultados</ion-col>
        </ion-row>

        <ion-row style="font-size: 10px;" *ngIf="data">
          <ion-col size="3">Marca</ion-col>
          <ion-col size="3">Placa</ion-col>
          <ion-col size="3">Latitud</ion-col>
          <ion-col size="3">Longitud</ion-col>
        </ion-row>

        <ion-row style="font-size: 9px;" *ngFor="let d of data">
          <ion-col size="3">{{d.brand}}</ion-col>
          <ion-col size="3">{{d.plate}}</ion-col>
          <ion-col size="3">{{d.lpf.lat}}</ion-col>
          <ion-col size="3">{{d.lpf.lng}}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>