ion-header {
    height: 15vh;
    width: 100vw;
    background-color: orange;
    text-align: center;
    color: white;
  }
  
  .cabeceraGeneral {
    height: 50%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cabeceraTitulo {
    height: 50%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
  }
  
  .footerStart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 100%;
    text-align: center;
  }
  
  .botonMenu {
    display: inline;
    width: 33%;
    border: solid 1px;
    border-color: orange;
    background-color: white;
    margin: 3px;
  }
  
  .btnMenuIcono {
    justify-content: center;
    height: 50%;
    padding-top: 3vh;
    color: orangered;
    font-size: 9vh;
  }
  
  .btnMenuTexto {
    justify-content: center;
    height: 50%;
    padding-top: 4vh;
    color: orangered;
    font-size: 2vh;
  }
  
  input {
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 1px solid #ff9900;
    -webkit-border-radius: 27px;
    border-radius: 15px;

  }
  
  
  .ingresar {
      display: inline-block;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      cursor: pointer;
      padding: 10px 50px;
      border: 1px solid #018dc4;
      -webkit-border-radius: 11px;
      border-radius: 11px;
      font: normal 16px/normal "Times New Roman", Times, serif;
      color: rgba(255,255,255,1);
      text-overflow: clip;
      background: #2727e8;
    }